# Intellij Idea project files
.idea/
*.iml
*.ipr
*.iws

# sbt specific
.cache
.cache-main
.cache-tests
.history
.lib/
dist/*
target/
lib_managed/
src_managed/
project/boot/
project/plugins/project/


# project binaries
build/
/out/
/log/
/classes/

*.DS_Store